@model SocialNetwork.Models.PostViewModel

@Html.HiddenFor(u => u.Id)
@Html.HiddenFor(u => u.Like)

<div class="row">
    <div class="col-md-1">
        @if (Model.Like)
        {
            <button type="submit"></button>         
        }
        else
        {
            <button type="submit" class="noLike"><div id="divNoLike">
</div><h6>@Model.CountLike</h6></button>
        }
    </div>
    <div >
    </div>
    
    @*<img src="~/Content/image/like.png" style="width:30px; height:30px"/>*@
</div>


