.navbar-nav > li > form {
    padding-top: 7.5px;
    padding-bottom: 15px;
    z-index: 100;
    position: relative;
  }

  .userpic{
  	border-radius: 50%;
  	width: 150px;
    height: 150px;
  }

  .avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.circle {
	margin-top:20px;
}
form .row > .col-md-3{
	margin-top: 20px;
	text-align: center;
}
form .row > .col-md-3 h4 {
	text-align: center;
}
form .row > .col-md-3 input {
	width: 100px;
	display: block;
	margin: 0 auto;
}
#divNoLike {
	background-image: url(../Content/image/like24.png);
	width: 24px;
	height: 24px;
	float: left;
}
form .noLike{
	width: 48px;
	height: 24px;
	margin:0;
	padding:0;
	border:0;
	background:white;
}

